exports.config = {

	debug: true,
	create_assets: false,

	server: {
		port: 8080,
	},

	site: {
		title: 'Baha "5 ziedi"',
		default_language: 'lv',
	},
	
	sections: [
		'bubblegum', 'candy', 'pastilla', 'contacts',
	],

	mail: {
		transport: {
			service: 'gmail',
			auth: {
				user: 'youremail@gmail.com',
				pass: 'yourpassword',
			},
			tls: {
				rejectUnauthorized: false,
			},
		},
		destination: 'myemail@gmail.com',
	},
	
	ga_id: '',
	metrika_id: '',
	jivosite_id: '',
	
};
