{% embed 'templates/product.html.twig' with { 'section': section, 'product_images' : product_images, 'add_to_basket' : t( 'add_to_basket' ) } %}

	{% block title %}
		Košļājamā gumija Rescue vai 5 ziedi
	{% endblock %}
	
	{% block price %}
		666
	{% endblock %}

	{% block description %}
	
		<p>Nomierinoša košļājamā gumija ar 5 ziedu essencēm un saldinātājiem</p>
		<p>Velti laiku atpūtai ar Rescue vai 5 ziedi košļājamām gumijām ar to atsvaidzinošo piparmētras aromātu. Katra košļājamā gumija satur 4 Rescue vai “5 ziedi” ziedu essences pilienus, slaveno Dr. Baha atklāto 5 ziedu kombināciju, ko izmanto miljoniem cilvēku visā pasaulē.</p>
		<strong>UZTURVĒRTĪBAS INFORMĀCIJA</strong>
		<table>
			<tr>
				<td>Uzturvērtība</td>
				<td>100g</td>
				<td>vienā gab.</td>
			</tr>
			<tr>
				<td>Enerģija</td>
				<td>679kj/163kcal</td>
				<td>10kj/2kcal</td>
			</tr>
			<tr>
				<td>
					Ogļhidrāti<br/>
					&nbsp;&nbsp;no kuriem cukuri<br/>
					&nbsp;&nbsp;no kuriem polioli
				</td>
				<td>
					66g<br/>
					&nbsp;&nbsp;0g<br/>
					&nbsp;&nbsp;66g<br/>
				</td>
				<td>
					0.9g<br/>
					&nbsp;&nbsp;0g<br/>
					&nbsp;&nbsp;0.9g
				</td>
			</tr>
		</table>
		<p>Satur niecīgu daudzumu tauku, piesātināto taukskābju, olbaltumvielu un sāls.</p>
		<strong>SASTĀVS:</strong>
		<p>Saldinātāji: ksilitols, sorbitols, maltitols, maltitola sīrups, gumijas bāze. Biezinātāji: gumarābika, Naturāls aromatizētājs (piparmētra), Krāsvielas: titāna dioksīds, Mitrinātājs: glicerols, Emulgators: sojas lecitīns, Glazētājviela: karnaubvasks, Ziedu essences: Rock rose (saulrozīte), Clematis (mežvītenis), Impatiens (sprigane), Cherry plum (plūme), Star of bethlehem (baltstarīte). Alergēni atzīmēti sastāvā <strong>treknrakstā</strong>.</p>
		<p>Pārmērīgs patēriņš var izraisīt caureju.</p>
		<p>Piemērots veģetāriešiem. Glabāt vēsā, sausā vietā līdz 25C</p>
		<p>Ieteicams līdz skatīt uz iepakojuma apakšas.</p>
		<p>Izgatavots Šveicē pēc Bach Flower Remedies Limited (Vimbeldon, SW19 8UH, Lielbritānija) pasūtījuma.</p>
	
	{% endblock %}

{% endembed %}