{% embed 'templates/product.html.twig' with { 'section': section, 'product_images' : product_images, 'add_to_basket' : t( 'add_to_basket' ) } %}

	{% block title %}
		Konfektes (10 gab.) ar šķidro centru ar 5 ziedu essenču, vitamīnu un saldinātāju pievienojumu.
	{% endblock %}
	
	{% block price %}
		8.70
	{% endblock %}

	{% block description %}
	
		<p>NATURĀLS APELSĪNU UN PLŪŠKOKA ZIEDU AROMĀTS</p>
		<p>CUKURU NESATUROŠAS</p>
		<p>Esi harmonijā ar sevi un nosvērts ar Rescue® konfektēm. Katra konfekte satur 4 Rescue® vai “5 ziedi” ziedu essences pilienus, papildināti ar Pantotēnskābi (B5) un Vitamīnu B12. Pantotēnskābe palīdz uzturēt garīgās darbspējas. Vitamīns B12 veicina normālu nervu sistēmas darbību. Naturāla krāsa, naturāls aromāts, nesatur cukuru.</p>
		<strong>UZTURVĒRTĪBAS INFORMĀCIJA</strong>
		<table>
			<tr>
				<td></td>
				<td>100g produkta</td>
				<td>1 tabletē</td>
			</tr>
			<tr>
				<td>Enerģija</td>
				<td>936kj/224kcal</td>
				<td>39kj/9kcal</td>
			</tr>
			<tr>
				<td>
					Ogļhidrāti<br/>
					&nbsp;&nbsp;No kuriem: cukuri<br/>
					&nbsp;&nbsp;polioli
				</td>
				<td>
					93g<br/>
					&nbsp;&nbsp;0g<br/>
					&nbsp;&nbsp;93g
				</td>
				<td>
					3.9g<br/>
					&nbsp;&nbsp;0<br/>
					&nbsp;&nbsp;3.9g<br/>
				</td>
			</tr>
			<tr>
				<td>PANTOTĒNSKĀBE (B5)</td>
				<td>30 mg (600% ID)</td>
				<td>1.5 mg (25% ID)</td>
			</tr>
			<tr>
				<td>VITAMĪNS B12</td>
				<td>15 μg (600% ID)</td>
				<td>0.63 μg (25% ID)</td>
			</tr>
		</table>
		<i>*PAMATOJOTIES UZ VIDĒJO TABLETES SVARU 4.2g</i><br/>
		<i>Satur niecīgu daudzumu tauku, piesātināto taukskābju, olbaltumvielu un sāls.</i><br/>
		<i>ID - Ieteicamā deva vidusmēra pieaugušajam</i>
		<p>Pārmērīgs patēriņš var izraisīt caureju. Daudzveidīga, sabalansēta diēta un veselīgs dzīvesveids ir ļoti svarīgi. Glabāt bērniem nepieejamā vietā.</p>
		<p>Glabāt temperatūrā līdz 25C</p>
		<p>Izgatavots Šveicē pēc Bach Flower Remedies Limited (Vimbeldon, SW19 8UH, Lielbritānija) pasūtījuma.</p>
		
		<p><strong>SASTĀVS</strong>: Saldinātāji (isomalts, maltitols, ksilitols, stēvija), ūdens, citronskābe, naturāli aromatizētāji (plūškoka ziedi, apelsīns), Pantotēnskābe (D-kalcija pantotenāta formā, B5), Vitamīns B12 (cianokobalamīns formā), naturāla krāsviela (beta karotīns), ziedu essences: Rock rose (saulrozīte), Clematis (mežvītenis), Impatiens (sprigane), Cherry plum (plūme), Star of bethlehem (baltstarīte)</p>
	{% endblock %}

{% endembed %}