{% embed 'templates/product.html.twig' with { 'section': section, 'product_images' : product_images, 'add_to_basket' : t( 'add_to_basket' ) } %}

	{% block title %}
		Rescue pastilas jeb 5 ziedu pastilas ar upeņu aromātu
	{% endblock %}
	
	{% block price %}
		10.85
	{% endblock %}

	{% block description %}
	
		<p><strong>Nomierinošas pastilas ar upeņu aromātu, ziedu essencēm un saldinātāju</strong></p>
		<p><strong>Lietošana</strong>: Košļāt vienu pastilu pēc nepieciešamības.</p>
		<p><strong>Sastāvs</strong>: Apjoma palielinātāji (sorbitols, maltitols, izomalts), recinātājs (gumarābika), naturāli aromatizētāji (upenes), skābes regulētājs (citronskābe), sarkano kāpostu ekstrakts, plūškoka ogu koncentrāts, melno burkānu ekstrakts, saldinātājs (ksilitols), glazētājviela (palmu kodolu eļļa, bišu vasks), ziedu essences (Rock rose (saulrozīte), Clematis (mežvītenis), Impatiens (sprigane), Cherry plum (plūme), Star of bethlehem (baltstarīte)).</p>
		<p>
			<strong>Produkta uzturvērtība Normālās vērtības 100 g:</strong><br/>
			<strong>Enerģētiskā vērtība</strong> 841kj/201kcal<br/>
			<strong>Tauki</strong> &lt;0.5g<br/>
			&nbsp;&nbsp;No kuriem piesātinātās taukskābes &lt;0.5g<br/>
			<strong>Ogļhidrāti</strong> 50g<br/>
			&nbsp;&nbsp;No kuriem cukuri 0g<br/>
			&nbsp;&nbsp;No kuriem Polioli 50g<br/>
			<strong>Olbaltumvielas</strong> 1.1g<br/>
			<strong>Sāls</strong> 0.60g
		</p>
		<p>Pārmērīgs patēriņš var izraisīt caureju.</p>
		<p>Izgatavots Šveicē pēc Bach Flower Remedies Limited (Vimbeldon, SW19 8UH, Lielbritānija) pasūtījuma.</p>
		<p><strong>Ieteicams līdz: skat. uz iepakojuma.</strong></p>
		<p>Neglabāt temperatūrā virs 25C</p>
		<p>Uzglabāt bērniem nepieejamā un neredzamā vietā</p>
	
	{% endblock %}

{% endembed %}

