<p>Sastāvā ir 5 ziedu essences:</p> 
<p>Rock Rose (saulrozīte) - saasinātas baiļu sajūtas, iekšējā panika, «nervu drudzis»;</p>
<p>Clematis (mežvītenis) - sapņošana, Jūs visu laiku dzīvojat kā pa mākoņiem un maz laika veltāt tam, kas notiek Jums apkārt;</p>
<p>Impatiens (sprigane) - nepacietība, viegla aizkaitināmība,pārmērīgi izteiktas reakcijas;</p>
<p>Cherry plum (plūme) - bailes pazaudēt kontroli par sevi, palikt trakam, nespēt kontrolēt un savaldīt savu garastāvokli;</p>
<p>Star of bethlehem (baltstarīte) - fiziskā vai garīgā šoka sekas, nav svarīgi vai tās ir ilgstošas vai īslaicīgas, «dvēseļu mierinātājs un sāpju mazinātājs».</p>
