RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

ExpiresActive On
ExpiresDefault A1
ExpiresByType text/css A1

# One year for image files
#<filesMatch ".(jpg|jpeg|png|gif|ico)$">
#Header set Cache-Control "max-age=31536000, public"
#</filesMatch>
# One month for css and js
#<filesMatch ".(css|js)$">
#Header set Cache-Control "max-age=2628000, public"
#</filesMatch>

