section.home h1,
section.home h3 {
	margin: 0;
	text-align: center;
}

section.home h1 {
	margin-top: 100px;
	text-align: center;
	font-size: 1.5em;
	color: rgb( 121, 186, 106 );
	font-weight: bold;
}

section.home h3 {
	font-size: 1.1em;
}
